{
  "**/*.css": ["stylelint  --fix 'src/**/*.{css,scss}'", "prettier --write"],
  "**/*.{js,ts,jsx}": ["eslint ./src . --no-inline-config", "prettier --write"],
  "**/*.{json,html}": ["prettier --write"],
  "package.json": [ "vitest run --coverage" ]
}