{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/main.ts",
  "tailwindConfig": "./tailwind.config.ts",
  "endOfLine": "auto"
}